{block content}

<div id="banner">
	<h1 n:block=title>Upload Obrázků</h1>
</div>

<div id="content">
{control imageUploadForm}

    {* <h2>input</h2>
    <input type="file" name="my-form[avatar]" multiple> *}

<a n:href="Home:">Zpět</a>
</div>

